patient.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="patient">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="patient_id" type="xs:integer" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="age" type="xs:integer " />
        <xs:element name="diagnosis" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>